body{
  background-color: #edeef0;
  width: 100%;
  margin: 0 auto;
}
/*-----------------------------------------*/
/*-----------------------------------------*/
/*------------------Меню-------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/
.nav{
  background-color: #112;
  width: 100%;
  margin: 0 auto;
}
.container{
  width: 75%;
  margin: auto;
}
.menu {
  display: inline-block;
  vertical-align: middle;
}
.logo img{
  margin: -4px 30px;
  width: 100px;
  height: auto;
}
.navbar li{
  display: inline-block;
}
.navbar{
  vertical-align: -webkit-baseline-middle;
}
.navbar a{
  font-size: 17px;
  position: relative;
  color: lightgray;
  text-decoration: none;
  text-shadow: 0 -1px 2px black;
  border-radius: 3px;
  box-shadow: 0px 2px 4px black;
  transition: .2s ease-in-out;
}
/*-----------------------------------------*/
/*-----------------------------------------*/
/*--------------Кнопки меню----------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/
.button,.button::before,.button::after,.button a,.button a::before,.button a::after,
.current,.current::before,.current::after,.current a,.current a::before,.current a::after
{
  transition: all ease .5s;
}
.button, .current{
  position: relative;
  display: inline-block;
  padding: 0.3em;
  margin: 1em;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover
{
  box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
}
.current{
  box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
}
.button a,.current a
{
  display: inline-block;
  padding: 0.6em 2em;
}
.button:hover a
{
  background-color: #fff;
  color: #112;
}
.current a{
  background-color: #fff;
  color: #112;
}
.button::before,.button::after,.button a::before,.button a::after,
.current::before,.current::after,.current a::before,.current a::after
{
  content: '';
  position: absolute;
  border: 1px;
  border-color: white;
  border-radius: 10px;
}
.button::before,.button a::before
{
  border-style: solid none;
}
.button::before,.button a::after
{
  left: 0;
  top: -0.4em;
  width: 100%;
  height: calc(100% + 0.8em);
}
.button::after,.button a::after
{
  border-style: none solid;
}
.button::after,.button a::before
{
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em);
}
.button:hover::after,.button:hover a::after
{
  transform: scaleY(0);
}
.button:hover::before,.button:hover a::before
{
  transform: scaleX(0);
}
.button:hover a::after,.button:hover a::before
{
  opacity: 0;
}
/*-----------------------------------------*/
/*-----------------------------------------*/
/*--------------Кнопки меню----------------*/
/*-----------------------------------------*/
/*----------------Меню---------------------*/
.content{
  width: 70%;
  margin: auto;
  padding: 10px;
  background: white;
  word-wrap: break-word;
  overflow-x:hidden;
}
b{
  font-size: 22.5px;
}
a{
  text-decoration: none;
}
.right{
  float: right;
}
.left{
  float: left;
}
